body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 15px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 50px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}
